archive/filter/src/main/resources/dumonitor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://x-road.eu/xsd/dumonitor.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:du="http://x-road.eu/xsd/dumonitor.xsd">
    <xs:element name="filterConfiguration" type="du:FilterConfiguration"/>
    <xs:complexType name="FilterConfiguration">
        <xs:all>
            <xs:element type="du:Namespaces" name="namespaces" minOccurs="0" maxOccurs="1"/>
            <xs:element type="du:Exclusions" name="exclusions" minOccurs="0" maxOccurs="1"/>
            <xs:element type="du:Filters" name="filters" minOccurs="0" maxOccurs="1"/>
            <xs:element type="du:LoggableFields" name="defaults" minOccurs="0" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="Namespaces">
        <xs:sequence>
            <xs:element type="du:Namespace" name="namespace" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Namespace">
        <xs:all>
            <xs:element type="xs:string" name="prefix"/>
            <xs:element type="xs:string" name="uri"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="Exclusions">
        <xs:sequence>
            <xs:element type="xs:string" name="exclusion" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Filters">
        <xs:sequence>
            <xs:element type="du:Filter" name="filter" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Filter">
        <xs:all>
            <xs:element type="xs:string" name="xpath"/>
            <xs:element type="du:LoggableFields" name="loggableFields"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="LoggableFields">
        <xs:all>
            <xs:element type="xs:string" name="personcode" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="action" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="sender" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="receiver" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="restrictions" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="sendercode" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="receivercode" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="actioncode" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="xroadrequestid" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="xroadservice" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="usercode" minOccurs="0" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>
</xs:schema>