filter/src/main/resources/xpath_conf_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="xpath_conf_schema.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:du="xpath_conf_schema.xsd">
    <xs:element name="dumonitorXPathConfiguration" type="du:dumonitorXPathConfiguration"/>
    <xs:complexType name="filters">
        <xs:sequence>
            <xs:element type="du:filter" name="filter" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="namespaces">
        <xs:sequence>
            <xs:element type="du:namespace" name="namespace" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="namespace">
        <xs:sequence>
            <xs:element type="xs:string" name="prefix"/>
            <xs:element type="xs:string" name="uri"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="filter">
        <xs:sequence>
            <xs:element type="xs:string" name="xpath"/>
            <xs:element type="du:loggableFields" name="loggableFields"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="loggableField">
        <xs:sequence>
            <xs:element type="xs:string" name="xpath"/>
            <xs:element type="xs:string" name="fieldName"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="loggableFields">
        <xs:sequence>
            <xs:element type="du:loggableField" name="loggableField" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dumonitorXPathConfiguration">
        <xs:sequence>
            <xs:element type="du:namespaces" name="namespaces"/>
            <xs:element type="du:filters" name="filters"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>