filter/src/main/resources/xrt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="xrt.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="xPathConfiguration" type="xrt:xPathConfiguration" xmlns:xrt="xrt.xsd"/>
    <xs:complexType name="xPathConfiguration">
        <xs:sequence>
            <xs:element type="xrt:expressionSuite" name="expressionSuite" maxOccurs="unbounded" minOccurs="0"
                        xmlns:xrt="xrt.xsd"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="expressionSuite">
        <xs:sequence>
            <xs:element type="xs:string" name="filterExpression"/>
            <xs:element type="xrt:saveableData" name="saveableData" xmlns:xrt="xrt.xsd"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="saveableData">
        <xs:sequence>
            <xs:element type="xrt:dataEntry" name="dataEntry" maxOccurs="unbounded" minOccurs="0"
                        xmlns:xrt="xrt.xsd"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dataEntry">
        <xs:sequence>
            <xs:element type="xs:string" name="xpath"/>
            <xs:element type="xs:string" name="dataKey"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>