test/testak/dumonitor.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
dumonitor.wsdl
X-tee andmejälgija analüüs ja disain

Versioon 1.2, 07.01.2016

Tellija: Riigi Infosüsteemi Amet
Täitja: Degeetia OÜ, Mindstone OÜ ja FocusIT OÜ

http://www.struktuurifondid.ee/public/EL_struktuuri-_ja_investeerimisfondid_horisontaalne.jpg

Dokumendi ajalugu:
Versioon	Kuupäev		Autor		Märkused
1.0		20.12.2015	Ivo Mehide	Esimene versioon
1.1		29.12.2015	Ivo Mehide	Jäetud alles ainult teenus findUsage
1.2		07.01.2016	Ivo Mehide	Eemaldatud mittekasutatud schema elemendid
1.3		18.04.2016  Ivo Mehide  Muudetud vastavaks dumonitor tarkvarale

-->
<wsdl:definitions name="dumonitor"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
	targetNamespace="http://dumonitor.x-road.eu/producer" xmlns:tns="http://dumonitor.x-road.eu/producer"
	>
	<wsdl:types>
		<xsd:schema targetNamespace="http://dumonitor.x-road.eu/producer">
			<xsd:import namespace="http://x-road.eu/xsd/xroad.xsd"
				schemaLocation="http://x-road.eu/xsd/xroad.xsd" />
    <xsd:complexType name="LoggableFields">
        <xsd:sequence>
			<xsd:element type="xsd:dateTime" name="logtime" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xrd:title>Isikuandmete töötlemise aeg</xrd:title>
				</xsd:annotation>
			</xsd:element>
            <xsd:element type="xsd:string" name="personcode" minOccurs="0" maxOccurs="1">
            	<xsd:annotation>
					<xrd:title>Isikukood, kelle isikuandmeid töödeldi</xrd:title>
            	</xsd:annotation>
            </xsd:element>
            <xsd:element type="xsd:string" name="action" minOccurs="0" maxOccurs="1">
            	<xsd:annotation>
					<xrd:title>Tegevus</xrd:title>
            	</xsd:annotation>
            </xsd:element>
            <xsd:element type="xsd:string" name="sender" minOccurs="0" maxOccurs="1">
            	<xsd:annotation>
					<xrd:title>Isikuandmeid edastanud osapool</xrd:title>
            	</xsd:annotation>
            </xsd:element>
            <xsd:element type="xsd:string" name="receiver" minOccurs="0" maxOccurs="1">
            	<xsd:annotation>
					<xrd:title>Isikuandmeid vastu võtnud osapool</xrd:title>
            	</xsd:annotation>
            </xsd:element>
            <xsd:element type="xsd:string" name="restrictions" minOccurs="0" maxOccurs="1">
            	<xsd:annotation>
					<xrd:title>Logiinfo juurdepääsupiirang</xrd:title>
            	</xsd:annotation>
            </xsd:element>
            <xsd:element type="xsd:string" name="sendercode" minOccurs="0" maxOccurs="1">
            	<xsd:annotation>
					<xrd:title>Isikuandmeid edastanud osapoole kood</xrd:title>
            	</xsd:annotation>
            </xsd:element>
            <xsd:element type="xsd:string" name="receivercode" minOccurs="0" maxOccurs="1">
            	<xsd:annotation>
					<xrd:title>Isikuandmeid vastu võtnud osapoole kood</xrd:title>
            	</xsd:annotation>
            </xsd:element>
            <xsd:element type="xsd:string" name="actioncode" minOccurs="0" maxOccurs="1">
            	<xsd:annotation>
					<xrd:title>Tegevuse kood</xrd:title>
            	</xsd:annotation>
            </xsd:element>
            <xsd:element type="xsd:string" name="xroadrequestid" minOccurs="0" maxOccurs="1">
            	<xsd:annotation>
					<xrd:title>X-tee päringu ID</xrd:title>
            	</xsd:annotation>
            </xsd:element>
            <xsd:element type="xsd:string" name="xroadservice" minOccurs="0" maxOccurs="1">
            	<xsd:annotation>
					<xrd:title>X-tee teenuse nimi</xrd:title>
            	</xsd:annotation>
            </xsd:element>
            <xsd:element type="xsd:string" name="usercode" minOccurs="0" maxOccurs="1">
            	<xsd:annotation>
					<xrd:title>X-tee päringu sooritanud ametniku isikukood</xrd:title>
            	</xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="QueryFields">
    	<xsd:complexContent>
    		<xsd:extension base="tns:LoggableFields">
    			<xsd:sequence>
					<xsd:element type="xsd:dateTime" name="from_date" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
						<xrd:title>Alates kuupäevast</xrd:title>
						</xsd:annotation>
					</xsd:element>
					<xsd:element type="xsd:dateTime" name="to_date" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xrd:title>Kuni kuupäevani</xrd:title>
						</xsd:annotation>
					</xsd:element>
					<xsd:element type="xsd:integer" name="offset" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xrd:title>Esimese tagastatava kirje jrknr</xrd:title>
						</xsd:annotation>
					</xsd:element>
					<xsd:element type="xsd:integer" name="limit" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xrd:title>Tagastatavate kirjete arv</xrd:title>
						</xsd:annotation>
					</xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>
			<xsd:element name="findUsage" type="tns:QueryFields"/>
			<xsd:element name="findUsageResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usage" type="tns:LoggableFields" maxOccurs="unbounded" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
        </xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="client" element="xrd:client" />
		<wsdl:part name="service" element="xrd:service" />
		<wsdl:part name="id" element="xrd:id" />
		<wsdl:part name="userId" element="xrd:userId" />
		<wsdl:part name="requestHash" element="xrd:requestHash" />
		<wsdl:part name="issue" element="xrd:issue" />
		<wsdl:part name="protocolVersion" element="xrd:protocolVersion" />
	</wsdl:message>

	<wsdl:message name="findUsage">
		<wsdl:part name="body" element="tns:findUsage" />
	</wsdl:message>
	<wsdl:message name="findUsageResponse">
		<wsdl:part name="body" element="tns:findUsageResponse" />
	</wsdl:message>

	<wsdl:portType name="dumonitorPortType">
		<wsdl:operation name="findUsage">
			<wsdl:documentation>
				<xrd:title>Päring andmekogust isikuandmete töötlemise kohta</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:findUsage" />
			<wsdl:output message="tns:findUsageResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="dumonitorBinding" type="tns:dumonitorPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="findUsage">
			<soap:operation soapAction="" style="document" />
			<xrd:version>v1</xrd:version>
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:requestHeader" part="client"
					use="literal" />
				<soap:header message="tns:requestHeader" part="service"
					use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId"
					use="literal" />
				<soap:header message="tns:requestHeader" part="issue"
					use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:requestHeader" part="client"
					use="literal" />
				<soap:header message="tns:requestHeader" part="service"
					use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId"
					use="literal" />
				<soap:header message="tns:requestHeader" part="requestHash"
					use="literal" />
				<soap:header message="tns:requestHeader" part="issue"
					use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="dumonitorService">
		<wsdl:port binding="tns:dumonitorBinding" name="dumonitorServicePort">
			<soap:address location="http://aj03.ci.kit:8080/dumonitor-storage/xroad" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
